@use 'index' as v;
@mixin hr-color($color) {
    width: 90%;
    border: 3px solid $color;
    margin: 10px 0;
}
.cryptos{
    display: flex;
}
.crypto-card{
    width: 25%;

    .hr1{
        @include hr-color(v.$accent1);
    }
    .hr2{
        @include hr-color(v.$accent2);
    }
    .hr3{
        @include hr-color(v.$accent3);
    }
    .hr4{
        @include hr-color(v.$accent4);
        
    }
    h3, p{
        margin: 5px;
    }
    h3{
        color:v.$secondary-font;
        font-weight:normal;
        font-size: 15px;
    }
    p{
        font-size: 20px;
        color: v.$primary-font;
    }
}