@use 'index' as v;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$secondary;
    padding: 15px;
    height: 5%;
  
    h3{
        color: v.$primary-font;
        font-weight: normal;
        font-size: 16px;
        margin: 0;
    }
    p{
        color: v.$font3;
        font-size: 14px;
        margin: 5px 0;
    }

  button{
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 8px 15px;
    border: none; 
    color: white; 
    background-color: transparent;
    border-radius: 0 25px 25px 0; 
    cursor: pointer;
  }
}
.searching {
    position: relative; 
    display: flex; 
    align-items: center; 
    border: none;
    background-color: v.$primary;
    border-radius: 25px; 
    overflow: hidden;
    width: 100%;
    height: 40px;

}
input[type="text"] {
    flex-grow: 1; 
    border: none; 
    outline: none; 
    background-color: transparent;
    border-radius: 5px;
}
.user{
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

i{
    color: v.$font3;
    font-size: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: v.$primary;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.silder.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}