@use 'index' as v;
nav{
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  background-color: v.$secondary;
  width: 100%;
  max-width: 180px;

  hr{
    width: 100%;
    border: none;
    border-top: 2px solid v.$primary;

  }
  .logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: v.$primary-font;
    margin-bottom: 20px;
    

    i{
        display: none;
    }
    
    img{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
    .pages{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;

    
        
        span{
            color: v.$secondary-font; 
            font-size: 14px;
            font-weight: 200;
            color: v.$secondary-font;
        }
        
        a{
            color: v.$font3;
            font-size: 14px;
            
            &:hover{
            background-color: v.$accent1;
            }
        }
    }
}