@use 'index' as v;
nav{
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  background-color: v.$secondary;
  width: 100%;
  max-width: 200px;

  hr{
    width: 100%;
    border: none;
    border-top: 2px solid v.$primary;

  }
  .logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: v.$primary-font;
    margin-bottom: 10px;

    i{
        color: v.$secondary-font; 
        font-size: 14px;
        
    }
    img{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
  span{
    font-size: 14px;
    color: v.$secondary-font;
    margin: 20px 0;
    font-weight: 200;
  }
  
  a{
    color: v.$font3;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover{
      background-color: v.$accent1;
    }
  }
}