@use 'index' as v;
.stocks{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    span{
        font-size: 14px;
        color: v.$font3;
    }
}
.stock-card{
    width: 15%;
    background-color: v.$secondary;
    padding: 15px;
    border-radius: 8px;
    
    img{
        width: 100%;
        margin: 10px 0;
        border-radius: 8px;
    }
    h2{
        color: v.$primary-font;
        font-weight: normal;
        font-size: 18px;
        margin: 0 0 10px 0;

        span{
            color: v.$font3;
            font-weight: 200;
        }
    }
        .profit{
            color: v.$font-profit;
            font-size: 14px;
        }
        .loss{
                color: v.$font-loss;
                font-size: 14px;
            }

    h3{
        color:v.$primary-font;
        font-weight:normal;
        font-size: 18px;
        margin: 0;
    }
    
    p{
        font-size: 14px;
        color: v.$primary-font;
        margin: 5px 0;
    }
}
.stock-exchange{
    background-color: v.$secondary;
    padding: 15px;
    border-radius: 8px;
}