$primary: #f0f4f8;
$secondary: #fff;
$accent1: #fe9f44;
$accent2: #6182e2;
$accent3:#e9bd15;
$accent4:#0387f3;
$primary-font: #20244f;
$secondary-font: #717374;
$font3:#b8b8b8;
$font-profit:#31ba8a;
$font-loss:#e4557b;