@use 'index' as v;
@use 'navigation';
@use 'header';
@use 'balance';
@use 'crypto';

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
}

.right{
  width: 100%;
}
main{
  background-color: v.$primary;
  padding: 20px;
  min-height: 100vh;
}

a{
  text-decoration: none;
}